/* @override http://webgear/sites/all/themes/webgear/cog/styles/messages.css?o */

/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */

#message-wrapper {
  z-index: 100;
  position: absolute;
  width: 960px;
  background-color: rgba(255,255,255, .9);
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border: none;
  text-align: left;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

div.messages, /* Important messages (status, warning, and error) for the user */
div.status,
div.warning,
div.error
{
  min-height: 21px;
  margin: 0;
  padding: 20px 20px 20px 60px;
  color: #000;
  background-image: url(../../zen/zen/images/messages-status.png);
  background-repeat: no-repeat;
  background-position: 28px 22px;
  /*font-size:1.6em;
  line-height:1.2;*/
  background-color: transparent;
  border: none;
}

div.status /* Normal priority messages */
{
}

div.warning /* Medium priority messages */
{
  background-image: url(../../zen/zen/images/messages-warning.png);
}

div.warning,
tr.warning
{
  color: #000; /* Drupal core uses #220 */
}

div.error /* High priority messages. See also the .error declaration in pages.css. */
{
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  background-image: url(../../zen/zen/images/messages-error.png);
  
}

div.error,
tr.error
{
  color: #900; /* Drupal core uses #200 */
}

div.messages ul
{
  margin-top: 0;
  margin-bottom: 0;
}